In [1]:
CREATE DATABASE BOOK_REVIEW_DB;

In [2]:
USE BOOK_REVIEW_DB;

In [4]:
Create Table publisher
    (
        id VARCHAR(100) PRIMARY KEY, 
        publisher_name VARCHAR(100) NOT NULL,
        publisher_address VARCHAR(100) NOT NULL,
        publish_website VARCHAR(100) NOT NULL
    );

In [6]:
Create table book
(
    id VARCHAR(100) PRIMARY KEY,
    book_title VARCHAR(100) NOT NULL
);

In [7]:

CREATE TABLE ISBN
    (
        isbn VARCHAR(100) PRIMARY KEY,
        format VARCHAR(100) NOT NULL,
        price INT NOT NULL,
        cover VARCHAR(100) NOT NULL,
        book_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES book(id),
        publisher_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES publisher(id)
    )

In [8]:
CREATE TABLE reviewer
    (
        id VARCHAR(100) PRIMARY KEY,
        reviewer_name VARCHAR(100) NOT NULL,
        reviewer_email VARCHAR(100) UNIQUE NOT NULL
    );

In [9]:

CREATE TABLE reviews
    (
        title VARCHAR(100) NOT NULL,
        details VARCHAR(100) NOT NULL,
        rating INT NOT NULL,
        book_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES book(id),
        reviewer_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES reviewer(id),
        PRIMARY KEY (book_id, reviewer_id)
    );

In [12]:
INSERT INTO publisher
    (
        id,
        publisher_name, 
        publisher_address,
        publish_website
    )
VALUES
    (
        'aksharan',
        'Aksharan',
        'pune',
        'web1'
    ),
    (
        'lost-epic',
        'Lost Epic',
        'bangalore',
        'web2'
    ),
    (
        'edu-world',
        'Edu World',
        'delhi',
        'web3'
    ),
    (
        'penguin',
        'Penguin',
        'london',
        'web4'
    )

In [13]:

INSERT into book
    (
        id,
        book_title
    )
VALUES
    (
        'manas',
        'Manas'
    ),
    (
        'the-accursed-god',
        'The Accursed God'
    ),
    (
        'rashmirathi',
        'Rashmirathi'
    );

In [14]:
INSERT INTO isbn 
    (
        isbn,
        format,
        price,
        cover,
        book_id,
        publisher_id
    )
VALUES
    (
        '11234',
        'paperback',
        299,
        'manas_pb',
        'manas',
        'aksharan'
    ),
    (
        '11235',
        'ebook',
        49,
        'manas_f',
        'manas',
        'lost-epic'
    ),
    (
        '11236',
        'paperback',
        399,
        'tag',
        'the-accursed-god',
        'edu-world'
    ),
    (
        '11237',
        'ebook',
        119,
        'tag',
        'the-accursed-god',
        'lost-epic'
    ),
    (
        '11238',
        'ebook',
        159,
        'rashimirathi',
        'rashmirathi',
        'penguin'
    );

In [17]:
INSERT into reviewer
    (
        id,
        reviewer_name,
        reviewer_email
    )
VALUES
    (
        1,
        'Prerana',
        'prerana.rao@ecolab.com'
    ),
    (
        2,
        'Joseph',
        'Joseph23@google.com'
    ),
    (
        3,
        'Steve',
        'steve@yahoo.com'
    ),
    (
        4,
        'Alice',
        'Alice@google.com'
    );

In [25]:
INSERT into reviews
    (
        book_id,
        reviewer_id,
        title,
        details,
        rating
    )
VALUES
    (
        'manas',
        1,
        'interesting one',
        'details 1',
        4
    ),
    (
        'manas',
        4,
        'good',
        'details 2',
        3
    ),
    (
        'the-accursed-god',
        1,
        'must read',
        'details 1',
        5
    ),
    (
        'the-accursed-god',
        2,
        'amazing',
        'details 2',
        4
    ),
    (
        'rashmirathi',
        3,
        'not worth reading',
        'details 1',
        2
    );

In [18]:
select * from publisher;

id,publisher_name,publisher_address,publish_website
aksharan,Aksharan,pune,web1
edu-world,Edu World,delhi,web3
lost-epic,Lost Epic,bangalore,web2
penguin,Penguin,london,web4

In [19]:
select * from book;

id,book_title
manas,Manas
rashmirathi,Rashmirathi
the-accursed-god,The Accursed God

In [20]:
select * from isbn;

isbn,format,price,cover,book_id,publisher_id
11234,paperback,299,manas_pb,manas,aksharan
11235,ebook,49,manas_f,manas,lost-epic
11236,paperback,399,tag,the-accursed-god,edu-world
11237,ebook,119,tag,the-accursed-god,lost-epic
11238,ebook,159,rashimirathi,rashmirathi,penguin

In [23]:
select * from reviewer;

id,reviewer_name,reviewer_email
1,Prerana,prerana.rao@ecolab.com
2,Joseph,Joseph23@google.com
3,Steve,steve@yahoo.com
4,Alice,Alice@google.com

In [26]:
select * from reviews;

title,details,rating,book_id,reviewer_id
interesting one,details 1,4,manas,1
good,details 2,3,manas,4
not worth reading,details 1,2,rashmirathi,3
must read,details 1,5,the-accursed-god,1
amazing,details 2,4,the-accursed-god,2