In [6]:
use booksdb

In [11]:
create table authors(

    author_id VARCHAR(100) NOT NULL PRIMARY KEY,

    author_name VARCHAR(100) NOT NULL

);

In [14]:
ALTER TABLE authors

ADD author_bio VARCHAR(100);

In [56]:
Select * from books;

id,title,price,author_id
five-point-someone,Five Point SomeOne,250,cb23
harry-potter-1,Harry Potter and the Soccers Stone,250,jkr78
harry-potter-2,Harry Potter and the Chambers of Secrets,350,jkr78
harry-potter-3,Harry Potter and the Prisoner of Askaban,350,jkr78
harry-potter-4,Harry Potter and the Goblet of Fire,450,jkr78
harry-potter-5,Harry Potter and the Order of Phoenix,450,jkr78
harry-potter-6,Harry Potter and the Half Blood Prince,450,jkr78
harry-potter-7,Harry Potter and the Deathly Hollows,350,jkr78
kane-and-abel,Kane and Abel,450,ja123
kurukshetra,Kurukshetra,450,rsd45
manas,Manas,199,vdm56
rashmirathi,Rashmirathi,190,rsd45
scion-of-ikshavaku,The Scion of Ikshavaku,300,am01
silent-paitent,Silent Paitent,399,al67
sons-of-fortune,Sons of Fortune,450,ja123
summons,Summons,250,jg89
the-accursed-god,The Accursed God,399,vdm56

In [30]:
insert into authors (author_id,author_name,author_bio) 
values
 ('am01','Amish','Wrote 1 book');

In [33]:
select * from authors

author_id,author_name,author_bio
al67,Alex,Wrote one book
am01,Amish,Wrote 1 book
cb23,Chetan Baghat,five point someone is written by Chetan
ja123,Jeffery Archer,Wrote some book
jg89,John Grisham,Wrote 1 book
jkr78,J K Rowling,Harry potter series is written by J K Rowling
rsd45,Ramdhari Singh Dinkar,Wrote 2 books recorded in database
vdm56,Vivek Dutta Mishra,Wrote 2 books

In [57]:

CREATE TABLE Users (
    userid INT PRIMARY KEY,
    username VARCHAR(255),
    password VARCHAR(255)
);

In [58]:

INSERT  

    INTO  

        Users (userid,username,password) 

    VALUES 

        
        (1,'Prerana','prer123'),
        (2,'Alex','alex@123'),
        (3,'Radhika','radha@123');

In [63]:

CREATE TABLE Reviews (
    reviewid INT ,
    bookid VARCHAR(100) FOREIGN KEY (bookid) REFERENCES Books(id),
    userid INT FOREIGN KEY (userid) REFERENCES Users(userid),
    rating INT,
    review_text TEXT
);

In [64]:
INSERT INTO  
    REVIEWS(reviewid, bookid,userid, rating,review_text) 
VALUES 
    (1,'kane-and-abel',1,4,'Nice Book'),
    (2,'rashmirathi',2,3.5,'Good book'), 
    (3,'sons-of-fortune',3,4.5,'Thoughtfull'), 
    (4,'manas',1,4.7,'Good Book'), 
    (5,'summons',2,3.9,'Amazing'), 
    (6,'five-point-someone',3,3,'Great work'), 
    (7,'scion-of-ikshavaku',1,3.8,'Nice creativity'), 
    (1,'kane-and-abel',1,4,'Nice Book'),
    (8,'the-accursed-god',2,4.2,'Nice');

In [65]:

SELECT * from Authors;

author_id,author_name,author_bio
al67,Alex,Wrote one book
am01,Amish,Wrote 1 book
cb23,Chetan Baghat,five point someone is written by Chetan
ja123,Jeffery Archer,Wrote some book
jg89,John Grisham,Wrote 1 book
jkr78,J K Rowling,Harry potter series is written by J K Rowling
rsd45,Ramdhari Singh Dinkar,Wrote 2 books recorded in database
vdm56,Vivek Dutta Mishra,Wrote 2 books

In [66]:

select * from Users;

userid,username,password
1,Prerana,prer123
2,Alex,alex@123
3,Radhika,radha@123

In [67]:

SELECT * FROM Books;

id,title,price,author_id
five-point-someone,Five Point SomeOne,250,cb23
harry-potter-1,Harry Potter and the Soccers Stone,250,jkr78
harry-potter-2,Harry Potter and the Chambers of Secrets,350,jkr78
harry-potter-3,Harry Potter and the Prisoner of Askaban,350,jkr78
harry-potter-4,Harry Potter and the Goblet of Fire,450,jkr78
harry-potter-5,Harry Potter and the Order of Phoenix,450,jkr78
harry-potter-6,Harry Potter and the Half Blood Prince,450,jkr78
harry-potter-7,Harry Potter and the Deathly Hollows,350,jkr78
kane-and-abel,Kane and Abel,450,ja123
kurukshetra,Kurukshetra,450,rsd45
manas,Manas,199,vdm56
rashmirathi,Rashmirathi,190,rsd45
scion-of-ikshavaku,The Scion of Ikshavaku,300,am01
silent-paitent,Silent Paitent,399,al67
sons-of-fortune,Sons of Fortune,450,ja123
summons,Summons,250,jg89
the-accursed-god,The Accursed God,399,vdm56

In [68]:
SELECT * FROM Reviews;

reviewid,bookid,userid,rating,review_text
1,kane-and-abel,1,4,Nice Book
2,rashmirathi,2,3,Good book
3,sons-of-fortune,3,4,Thoughtfull
4,manas,1,4,Good Book
5,summons,2,3,Amazing
6,five-point-someone,3,3,Great work
7,scion-of-ikshavaku,1,3,Nice creativity
1,kane-and-abel,1,4,Nice Book
8,the-accursed-god,2,4,Nice

In [72]:
SELECT B.title, R.rating, R.review_text
FROM Reviews R
JOIN Books B ON R.bookid = B.id
WHERE B.author_id = 'vdm56';

title,rating,review_text
Manas,4,Good Book
The Accursed God,4,Nice

In [75]:
SELECT B.title, R.rating, R.review_text 
                      FROM Reviews R
                      JOIN Books B ON R.bookid = B.id
                      WHERE R.reviewid = 1;

title,rating,review_text
Kane and Abel,4,Nice Book
Kane and Abel,4,Nice Book

In [76]:

SELECT R.userid,B.title, R.rating, R.review_text
FROM Reviews R
JOIN Books B ON R.bookid = B.id
WHERE R.userid = 1;

userid,title,rating,review_text
1,Kane and Abel,4,Nice Book
1,Manas,4,Good Book
1,The Scion of Ikshavaku,3,Nice creativity
1,Kane and Abel,4,Nice Book